.myform {
  gap:1rem;
  width: 50%;
}
header {
  height:80px;
  font-size: 18px;
  color:white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,88,5,1) 100%);
}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:rgba(9,9,121,1);
}
input, select {
  height:2rem;
}
.bookCard {
  border:1px solid salmon;
  padding: 1rem;
}